@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:wght@700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --mmc-font-base: "Noto Sans JP", sans-serif;
  --mmc-font-mono: "Roboto", sans-serif;
}

@theme {
  --font-base: var(--mmc-font-base);
  --font-mono: var(--mmc-font-mono);

  --tracking-none: 0em;
  --tracking-tighter: 0.02em;
  --tracking-tight: 0.04em;
  --tracking-normal: 0.05em;
  --tracking-wide: 0.08em;
  --tracking-wider: 0.1em;
  --tracking-widest: 0.15em;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5;
  --text-sm: 0.875rem;
  --text-xs--line-height: 1.5;
  --text-base: 1rem;
  --text-xs--line-height: 1.5;
  --text-lg: 1.125rem;
  --text-xs--line-height: 1.5;
  --text-xl: 1.25rem;
  --text-xs--line-height: 1.5;
  --text-2xl: 1.5rem;
  --text-xs--line-height: 1.5;
  --text-3xl: 1.875rem;
  --text-xs--line-height: 1.5;
  --text-4xl: 2.25rem;
  --text-xs--line-height: 1.5;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1.5;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1.5;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1.5;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1.5;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1.5;

  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.75;
  --leading-loose: 2;
}

body {
  font-family: var(--font-base);
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 1rem;
  color: var(--color-gray-900);
}
@media screen and (max-width: 767px) {
  body {
    font-size: 0.875em;
  }
}
/* 
.inner
*/
.inner {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

/* 
title
*/
.title {
  @apply font-bold text-center;
}

.title h2 {
  @apply text-3xl md:text-4xl lg:text-5xl leading-snug;
}

.title p {
  @apply text-xl md:text-2xl lg:text-4xl text-emerald-500 leading-none mt-3 md:mt-4 lg:mt-5;
}
